@layer base, theme, util;

@keyframes spinner {
    0%   {
        filter: brightness(1.00);
        height: 2rem;
        border-radius: 2rem;
    }
    50%  {
        filter: brightness(1.5);
        height: 1rem;
        border-radius: 1px;
        rotate: -90deg;
    }
    100% {
        filter: brightness(1.00);
        height: 2rem;
        border-radius: 2rem;
        rotate: -180deg;
    }
  }

#spinner {
    display:none;
    &.spinner {
        display:inline-block;
        background-color: var(--primary);
        animation: spinner 5s ease-in-out infinite;
        width: 2rem;
    }

}

#file {
    border: 1px solid #ccc;
    display: block;
    padding: 1rem 0.5rem;
    cursor: pointer;
    margin: 1rem 0;
}

#recut {
    padding: 1rem;
    font-size: 1.5rem;
    background: var(--primary);
    color: var(--primary-font);
    margin-top: 0.5rem;
}

.title {
    background: var(--primary);
    color: var(--primary-font);
    padding: 0.5rem;
    border-bottom: 5px var(--primary-accent) solid;
    max-width: 50rem;
}

@layer base {
    button {
        cursor: pointer;
    }
}

@layer theme {
    * {
        --primary: #393752;
        --primary-font: #d2d1dd;
        --primary-accent: #090620;
    }
}